{%extends "base1.html" %}
{% block content %}
{% load static %}
<!--<section style="padding-top:50px">-->

<!--    Create Password for Faculty ID : {{faculty_id}}-->

<!--    <form action="/login/changeUser" method="POST">{% csrf_token %}-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" name="password" id="password" required>-->
<!--        <input type="hidden" value="{{faculty_id}}" name="faculty_id">-->
<!--        <button type="submit">Submit</button>-->
<!--    </form>-->
<!--</section>-->


<!-- Full Page Intro -->
<div class="view full-page-intro"
     style="background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-childhood-dreams-simple-fresh-black-education-poster-banner-image_152811.jpg'); background-repeat: no-repeat; background-size: cover;">

    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

        <!-- Content -->
        <div class="container">

            <!--Grid row-->
            <div class="row wow fadeIn">


                <hr class="hr-light">


                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Card content-->
                        <div class="card-body">


                            <!-- Form -->
                            <form action="/login/changeUser" method="POST">{% csrf_token %}
                                <!-- Heading -->
                                <h5 class="dark-grey-text text-center">
                                     Create Password for Faculty ID : {{faculty_id}}
                                </h5>
                                <hr>

                                <div class="d-flex justify-content-between">
                                    <div class="md-form">
                                        <input type="password" name="password" id="password"
                                               class="form-control"
                                               required>
                                        <label for="password">Password</label>
                                    </div>


                                    <input type="hidden" value="{{faculty_id}}" name="faculty_id">
                                    <div class="text-center">
                                        <button class="btn btn-indigo" type="submit">Set Password</button>

                                        <hr>
                                    </div>
                                </div>
                            </form>


                        </div>

                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </div>
        <!-- Content -->

    </div>
    <!-- Mask & flexbox options-->

</div>
<!--End of login form-->


{% endblock %}